# Homework 6: Automatidata

In [10]:
#Import pandas library
import pandas as pd
import numpy as np

In [11]:
# Load Automatidata dataset (2017 Yellow Taxi Trip data) into dataframe
df = pd. read_csv ("2017_Yellow_Taxi_Trip_Data.csv")
df.head()

,TripID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,04/11/2017 14:53,04/11/2017 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75
3,38942136,2,05/07/2017 13:17,05/07/2017 13:48,1,3.70,188,97,1,N,1,20.5,0.0,0.5,0.3,6.39,0.0,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,4,112,1,N,2,16.5,0.5,0.5,0.3,0.00,0.0,17.80

In [12]:
# By applying method, show first 7 rows in dataframe
df.head(n=7)

,TripID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,04/11/2017 14:53,04/11/2017 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75
3,38942136,2,05/07/2017 13:17,05/07/2017 13:48,1,3.70,188,97,1,N,1,20.5,0.0,0.5,0.3,6.39,0.0,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,4,112,1,N,2,16.5,0.5,0.5,0.3,0.00,0.0,17.80
5,23345809,2,03/25/2017 8:34:11 PM,03/25/2017 8:42:11 PM,6,2.30,161,236,1,N,1,9.0,0.5,0.5,0.3,2.06,0.0,12.36
6,37660487,2,05/03/2017 19:04,05/03/2017 20:03,1,12.83,79,241,1,N,1,47.5,1.0,0.5,0.3,9.86,0.0,59.16

In [13]:
# By applying method, show summary information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TripID                 22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   PULocationID           22699 non-null  int64
 7   DOLocationID           22699 non-null  int64
 8   RatecodeID             22699 non-null  int64
 9   store_and_fwd_flag     22699 non-null  object
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  improvement_surcharge  22699 non-null  float64
 15  tip_amount             22699 non-null  float64
 16  tolls_amount           22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [14]:
# By applying attribute, check the list of column labels in dataframe
df.columns

Index(['TripID', 'VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'PULocationID', 'DOLocationID',
       'RatecodeID', 'store_and_fwd_flag', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'improvement_surcharge', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [15]:
# By applying attribute, show tuple representing dimensionality 
# (number of rows and columns) of the dataframe
df.shape

(22699, 18)

In [17]:
# By applying attribute, show from 1st to 3rd rows
# You can use either iloc or loc
df.iloc[0:3]

,TripID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,04/11/2017 14:53,04/11/2017 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75

In [18]:
# By applying attribute, show from 1st to 3rd rows
# You can use either iloc or loc
df.loc[0:2]

,TripID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56
1,35634249,1,04/11/2017 14:53,04/11/2017 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75

In [19]:
# Show 'TripId', 'trip_distance', and 'fare_amount' of 100th to 103th row
# You can use either iloc or loc
df.iloc[100:104, [0,5,11]]

       TripID  trip_distance  fare_amount
100  11538055           0.72          8.0
101  26548374           9.67         31.0
102  44715204           2.30         12.5
103  12031574           4.70         18.5

In [24]:
# Show 'TripId', 'trip_distance', and 'fare_amount' of 100th to 103th row
# You can use either iloc or loc
df.loc[100:103, ['TripID','trip_distance','fare_amount']]

       TripID  trip_distance  fare_amount
100  11538055           0.72          8.0
101  26548374           9.67         31.0
102  44715204           2.30         12.5
103  12031574           4.70         18.5

In [25]:
# Show the total_amount of 12000th row
# You can use either iloc or loc
df.iloc[12000,17]

58.56

In [26]:
# Show the total_amount of 12000th row
# You can use either iloc or loc
df.loc[12000,'total_amount']

58.56

In [33]:
# Add a new column 'percent_tip' which is computed by: (tip_amount/total_amount)*100 to dataframe
# to show the percentage of tip paid realtive to total amount.
# Then show first 5 rows of dataframe.
df['percent_tip'] =df['tip_amount'] / df[ 'total_amount']*100
df.head()

,TripID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount,percent_tip
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,100,231,1,N,1,13.0,0.0,0.5,0.3,2.76,0.0,16.56,16.666667
1,35634249,1,04/11/2017 14:53,04/11/2017 15:19,1,1.80,186,43,1,N,1,16.0,0.0,0.5,0.3,4.00,0.0,20.80,19.230769
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,262,236,1,N,1,6.5,0.0,0.5,0.3,1.45,0.0,8.75,16.571429
3,38942136,2,05/07/2017 13:17,05/07/2017 13:48,1,3.70,188,97,1,N,1,20.5,0.0,0.5,0.3,6.39,0.0,27.69,23.076923
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,4,112,1,N,2,16.5,0.5,0.5,0.3,0.00,0.0,17.80,0.000000