# Homework 6: Automatidata

In [ ]:
#Import pandas library

In [ ]:
# Load Automatidata dataset (2017 Yellow Taxi Trip data) into dataframe

In [ ]:
# By applying method, show first 7 rows in dataframe

In [ ]:
# By applying method, show summary information about the dataframe

In [ ]:
# By applying attribute, check the list of column labels in dataframe

In [ ]:
# By applying attribute, show tuple representing dimensionality 
# (number of rows and columns) of the dataframe

In [ ]:
# By applying attribute, show from 1st to 3rd rows
# You can use either iloc or loc

In [ ]:
# Show 'TripId', 'trip_distance', and 'fare_amount' of 100th to 103th row
# You can use either iloc or loc

In [ ]:
# Show the total_amount of 12000th row
# You can use either iloc or loc

In [ ]:
# Add a new column 'percent_tip' which is computed by: (tip_amount/total_amount)*100 to dataframe
# to show the percentage of tip paid realtive to total amount.
# Then show first 5 rows of dataframe.