# Pandas Basics: Class Work with Titanic Data

In [ ]:
#Import pandas library

In [ ]:
# Load titanic dataset into dataframe

In [ ]:
# By applying method, show first 7 rows in dataframe

In [ ]:
# By applying method, show summary information about the dataframe

In [ ]:
# By applying attribute, check the list of column labels in dataframe

In [ ]:
# By applying attribute, show tuple representing dimensionality 
# (number of rows and columns) of the dataframe

In [ ]:
# Slice a column named 'Fare'

In [ ]:
# Select 'Name' and 'Age' columns of dataframe and return a 
# views of dataframe as a new DataFrame object

In [ ]:
# Apply iloc attribute to dataframe and show a SERIES OBJECT
# representing a passenger whose passengerID is 3 (3rd row)

In [ ]:
# Apply iloc attribute to dataframe and show a DATAFRAME OBJECT
# representing a passenger whose passengerID is 3 (3rd row)

In [ ]:
# Apply iloc attribute to dataframe and show all rows for a column 'Name'

In [ ]:
# By applying attribute, show from 3rd to 5th rows (passengerID 3-5)
# You can use either iloc or loc

In [ ]:
# Show 'PassengerId', 'Name', and 'Age' of passengerID 10-13 (10th to 13th row)
# You can use either iloc or loc

In [ ]:
# Show the name of passengerID 100
# You can use either iloc or loc

In [ ]:
# Add a new column '2024_Fare' which is computed by: 'Fare'*146.14 to dataframe
# to show the inflation adjusted price of a ticket from 1912 to 2024.
# Then show first 5 rows of dataframe.