# Numpy and Array
### Useful Python Functions: map() and lambda function
#### 1. map() function
map(*function*, *iterables*)

In [ ]:
a = ['1', '2', '3']

b = map(int, a) # we used the built-in int function
b # it returns the map object, but not the new list

In [ ]:
list(b) # list function returns the list

In [ ]:
# we can use own function as an argument of map function
b = [1,2,3]

def square(x):
    return x**2

c = map(square, b)
c

In [ ]:
list(c)

#### 2. lambda function
lambda *arguments* : *expression*

In [ ]:
my_function = lambda a : a + 10
my_function(5)

In [ ]:
list_j = [2,3,4]
list_k = map(my_function, list_j)
list(list_k)

In [ ]:
list_j = [2,3,4]
list_k = map(lambda a : a + 10, list_j)
list(list_k)

In [ ]:
my_function = lambda a, b : a * b
my_function(5, 6)

In [ ]:
list_j = [2,3,4]
list_k = [5,4,3]
list_l = map(lambda a, b : a * b, list_j, list_k)
list(list_l)

### <span style="color:yellow">Example I. You want to generate list_b from list_a.</span>  
### <span style="color:yellow">list_a = [1, 2, 3], list_b = [2, 4, 6]</span>

#### Method 1. Create empty list called list_b. Then using for loop, iterate each element in list_a, for each element in list_a, multiply element by 2, and append to the newly created list, list_b.

In [ ]:
list_a = [1,2,3]

list_b = [] # create an empty list called list_b
for x in list_a:  # using for loop, iterate each element in list_a
    list_b.append(x*2)  # multiply element by 2, and append to the newly created list

list_b

#### Method 2. Generate own function called double and apply [map() function](https://www.w3schools.com/python/ref_func_map.asp) using double function as the first argument of map() function.

In [ ]:
list_a = [1,2,3]
def double(x):
    return 2*x

list_b = map(double, list_a)
list_b

In [ ]:
list(list_b)

#### Method 3. Apply map() function using [lambda function](https://www.w3schools.com/python/python_lambda.asp) as the first argument of map() function.

In [ ]:
list_a = [1,2,3]
list_b = map(lambda a: a*2, list_a)
list_b

In [ ]:
list(list_b)

#### Method 4. Generate dataframe using dictionary. Then apply pandas dataframe method.

In [ ]:
data = {'list_a':[1,2,3]}

import pandas as pd

df = pd.DataFrame(data)
df

In [ ]:
df['list_b'] = df['list_a']*2
df['list_b']

In [ ]:
list_b = df['list_b'].tolist()
list_b

#### Method 5. Use Numpy array operation.

In [ ]:
import numpy as np

list_a = [1,2,3]
array_a = np.array(list_a)
array_b = array_a*2
array_b

In [ ]:
list_b = list(array_b)
list_b

### <span style="color:yellow">Example II. You want to generate list_c from list_a and list_b.</span>  
### <span style="color:yellow">list_a = [1, 2, 3], list_b = [2, 4, 6], list_c = [2, 8, 18]</span>

#### Method 1. Create empty list called list_c. Then using for loop, iterate each element in list_a and list_b, for each element in list_a and list_b, multiply, and append to the newly created list.

In [ ]:
list_a = [1,2,3]
list_b = [2,4,6]

list_c = [] # create an empty list called list_c
for ___ in range(____):  # using for loop, iterate each element in list_a and list_b
    ________(______*______)

list_c

#### Method 2. Generate own function called double and apply [map() function](https://www.w3schools.com/python/ref_func_map.asp) using double function as the first argument of map() function.

In [ ]:
list_a = [1,2,3]
list_b = [2,4,6]

def multiply(x,y):
    return ______

list_c = map(_____, _____, ______)
list_c

In [ ]:
list(list_c)

#### Method 3. Apply map() function using [lambda function](https://www.w3schools.com/python/python_lambda.asp) as the first argument of map() function.

In [48]:
list_a = [1,2,3]
list_b = [2,4,6]
list_c = map(lambda ______: _____, _____, _____)
list_c

In [ ]:
list(list_c)

#### Method 4. Generate dataframe using dictionary. Then apply pandas dataframe method.

In [ ]:
data = {'list_a':[1,2,3],
        'list_b':[2,4,6]
        }

import pandas as pd

df = pd._______(_____)
df

In [ ]:
df['list_c'] = ________*________
df['list_c']

In [ ]:
list_c = df['list_c'].________
list_c

#### Method 5. Use Numpy array operation.

In [ ]:
import numpy as np

list_a = [1,2,3]
list_b = [2,4,6]
array_a = ______(______)
array_b = ______(______)
array_c = ______*______
array_c

In [ ]:
list_c = _____(_____)
list_c